<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redireciona para HTTPS se não estiver usando
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Se o arquivo ou diretório existir, serve normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Se não existir, redireciona para o index.html (SPA fallback)
  RewriteRule ^ index.html [L]
</IfModule>
